<!DOCTYPE html>
<html> 
	<head>
    	<title>Flask OpenWeatherAPI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
        <div id="form">
            <h1>WEATHER WEB APP</h1>
            <form action='/' method='POST'>
            <label id="input"><b>INPUT THE CITY:</b></label>
            <br>
            <input type="text" id="city_id" name="city_name" maxlength="20" placeholder="City" required>
            <input type="submit" value="Submit">
            </form>
        </div>
        <br>
        <br>
        <div id="results">
            <h4><b>SHOWING RESULTS FOR:</b> {{data.name.capitalize()}}</h4>
            <p><b>CURRENT WEATHER:</b> {{data.desc.capitalize()}}</p>
            <p><b>TEMPERATURE:</b> {{data.temp}} C° / {{data.temp_f}} F°</p>
            <p><b>HUMIDITY:</b> {{data.humi}}%</p>
        </div>
	</body>
</html>